
<div>
  <h2>{{name}}</h2>
  <img src={{image}}/>
</div>

<h3>Instructions</h3>
<br>

<div *ngFor="let step of recepy?.steps">
  <div>Step {{step.number}}.</div>
  <br>
  <div>{{step.step}}</div>

  <div *ngIf="step.ingredients.length > 0">
    <br>
    <p>Ingredients</p>
    <br>
    <div *ngFor="let ingredient of step.ingredients">
      <div class="item">
        <img src="https://img.spoonacular.com/ingredients_100x100/{{ingredient.image}}"/>
        <p>{{ingredient.name}}</p>
      </div>
    </div>

  </div>



  <div *ngIf="step.equipment.length > 0">
    <br>
    <p>Equipment</p>
    <br>
    <div *ngFor="let equipment of step.equipment">
      <div class="item">
        <img src={{equipment.image}}/>
        <p>{{equipment.name}}</p>
      </div>
    </div>

  </div>

</div>
